<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputBlock">Block</label>
    <div class="controls">
      <input type="text" id="inputBlock" placeholder="Block">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLot">Lot</label>
    <div class="controls">
      <input type="text" id="inputLot" placeholder="Lot">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Search</button>
    </div>
  </div>
</form>
